@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    background: linear-gradient(-180deg, #f53d2d, #f63);
}

body{
    background-color: #e5e7eb;
}

.animation-fadein{
    animation: fadein .7s;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}